[Unit]
Description=BotScraper service
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
#include here your telegram token
Environment=TELEGRAM_TOKEN="" 
ExecStart=make -C /home/$USER/botscraper/ run

[Install]
WantedBy=multi-user.target
